/*fonts size*/
/*fonts line*/
/*main header*/
/*colors bg*/
/*colors txt*/
/*menu*/
/*fonts color*/
/*bg color*/
/*search*/
/*fonts color*/
/*forms*/
/*fonts color*/
/*---------mixins---------*/
/**/
@media screen and (max-width: 1360px) {
  .filter__header-list {
    font-size: 15px; } }
@media screen and (max-width: 1260px) {
  .filter__header-list {
    font-size: 13px; } }
@media screen and (max-width: 1222px) {
  .info .container {
    flex-wrap: wrap; }

  .info .container [class*="col-"] {
    flex-wrap: wrap; }

  .info .container .col-3 {
    width: 50%; }

  .navigation .container .col-9 {
    padding: 0; }

  .info .container .col-6 {
    order: 3;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: justify-content; }

  .info__contacts {
    margin-top: 10px;
    width: 100%; }

  .info__contacts-wrapp {
    font-size: 14px; }

  .info__contacts-phone {
    font-size: 12px;
    width: 45%;
    justify-content: center; }

  .info__contacts-wrapp {
    width: 100%; } }
@media screen and (max-width: 1215px) {
  .filter__header-link .car,
  .filter__header-link .big,
  .filter__header-link .shina,
  .filter__header-link .oil,
  .filter__header-link .battery {
    background: none; }

  .filter__header-link .car a,
  .filter__header-link .big a,
  .filter__header-link .shina a,
  .filter__header-link .oil a,
  .filter__header-link .battery a {
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0; } }
@media screen and (max-width: 970px) {
  .head__wrapp ul {
    display: none; }

  .head__burger {
    display: block;
    color: #fff;
    background-color: #ff8900;
    font-size: 24px;
    padding: 12px; }

  .head__list.active {
    display: block;
    position: absolute;
    top: 49px;
    left: 0;
    background: #696969 !important; } }
@media screen and (max-width: 950px) {
  .menu__body-ul {
    font-size: 14px;
    line-height: 50px; }

  .filter__header-link {
    padding: 0; }

  .filter__body-price {
    margin-right: 0;
    margin-left: 0; } }
@media screen and (max-width: 860px) {
  .navigation .container {
    flex-direction: column; }

  .navigation .container .col-3 {
    width: 40%;
    padding: 0; }

  .navigation .container .col-9 {
    width: 100%; }

  .form__search {
    margin-top: 20px; }

  .menu__body {
    display: none; } }
@media screen and (max-width: 860px) and (max-width: 770px) {
  .menu__body-ul {
    font-size: 14px;
    line-height: 50px; }

  .filter__header-link {
    padding: 0; }

  .filter__body-price {
    margin-right: 0;
    margin-left: 0; }

  .menu__body-ul {
    font-size: 8px;
    line-height: 15px; }
    .menu__body-ul li {
      padding-left: 0;
      padding-right: 0; } }
@media screen and (max-width: 860px) and (max-width: 620px) {
  .info__contacts {
    flex-wrap: wrap; }

  .info__contacts-phone {
    width: 100%;
    line-height: 44px; }

  .filter__body .col-4 {
    width: 100%;
    display: flex;
    justify-content: center; }

  .filter__body-tab {
    width: 50%; } }
@media screen and (max-width: 860px) and (max-width: 510px) {
  .form__btn {
    font-size: 13px;
    padding: 13px 26px; }

  .filter__body-btn button {
    width: 140px;
    height: 50px;
    font-size: 12px; } }
@media screen and (max-width: 860px) and (max-width: 450px) {
  .navigation .container .col-3 {
    width: 100%; }

  .info .container [class*="col-"] {
    width: 100%; }

  .info__logo {
    display: flex;
    justify-content: center;
    padding-bottom: 15px; }

  .form__option {
    margin: 0 10px; }

  .form__btn {
    font-size: 10px;
    padding: 13px 10px; }

  .filter__header-list {
    font-size: 8px; }

  .filter__body-tab {
    width: 100%; } }
@media screen and (max-width: 860px) and (max-width: 360px) {
  .form__search .form__option .form__option-search {
    width: 20px; } }
@media screen and (max-width: 860px) and (max-width: 340px) {
  .info__contacts-number {
    font-size: 13px; } }

/*# sourceMappingURL=media.css.map */
